body{
    background-color: black;
    display: flex;
}
.battery-icon{
    margin: auto;
    border: 5px solid #fff;
    border-radius: 10px;
    height: 60px;
    width: 200px;
    position: relative;/* é usado quando queremos alterar a posição de um elemento tendo como referência a posição inicial dele. */
}
.battery-icon::after{
    content: " ";
    background-color: #fff;
    border-radius: 5px;
    height: 30px;
    width: 15px;
    position: absolute; /*quando o elemento com essa propriedade possui um elemento pai de valor diferente de static. Neste caso, ele terá este elemento pai como referência para ser posicionado. Todo elemento pai que tiver qualquer valor de position, menos o static, será a referência para posicionar o elemento filho absolute!*/
    left: 200px; 
    top: 25%;
}
.battery-icon::before{
    content: " ";
    animation: fill 3s linear infinite;
    background-color: #c9f86b;
    border-radius: 5px;
    height: 52px;
    width: 40%;
    position: absolute;
    left: 4px;
    top: 4px;
}
@keyframes fill{
    0%{
        width: 50%;
    }
    50%{
        width: 70%;
    }
    100%{
        width: 90%;
    }
}